@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("/assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway Italic";
  src: url("/assets/fonts/Raleway/Raleway-Italic.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bold Italic";
  src: url("/assets/fonts/Raleway/Raleway-BoldItalic.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html,

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  
  outline: 0;

  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  

}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input{
  width:100%;
  border:none;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px; 

  color: #138FCE; 

}

 


